@charset "UTF-8";


.site-inner {
    width: 960px;
    margin: 0 auto;
}

@media (max-width: 999px){
.site-inner {
    width: 100%;
} 
}

@media (max-width: 999px) {
.site-inner {
    width: 94%;
}
}

.site-main {
    position: relative;
}

.content-area {
    background-color: white;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ddd;
    border: 1px solid #eee;
}

.hentry {
    padding: 40px 0;
}

@media (max-width: 999px) {
    .hentry {
    padding: 40px 20px;
    }
}

@media (max-width: 698px) {
    .hentry {
        padding: 40px 20px;
        }
    }

.entry-header, .entry-content {
    margin: 0 auto;
    max-width: 860px;
    width: 100%;
}

.page-title {
    font-weight: normal;
    margin: 0 0 15px;
}

h1 {
    font-size: 24px;
    margin: 33px 0;
}


.page-title {
    font-weight: normal;
    margin: 0 0 15px;
}

.page-thumbnail {
    margin-bottom: 24px;
}

.entry-header, .entry-content {
    margin: 0 auto;
    max-width: 860px;
    width: 100%;
}

p {
    margin: 0 0 24px;
    font-size: 15px;
}

.hotel h3:first-child {
    border-top: 1px dotted #0095d9;
    margin-top: 0px;
    padding-top: 22px;
}

.hotel h3 {
    text-align: center;
}

h3 {
    font-size: 18px;
    margin: 22px 0;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    line-height: 1.3;
    font-weight: normal;
}

.hotel ul {
    list-style-type: none;
    text-align: center;
}

.hotel ul li {
    display: inline-block;
    margin-bottom: 10px;
}

.hotel ul li a {
    padding: 10px 10px;
    border: 1px solid #0095d9;
    text-decoration: none;
    border-radius: 3px;
    content: " ";
    display: block;
    clear: both;
    font-size: 13px;
}

a:visited {
    color: #0095d9;
}

/* 島のビーチ */

map img, .beach img {
    width: 460px;
}

.map img, .beach img, .map ol, .beach ol {
    float: left;
}

.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption {
    max-width: 100%;
}

.entry-content img, .entry-summary img, .comment-content img[height], img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
    height: auto;
}

img.size-full, img.size-large, img.wp-post-image {
    height: auto;
    max-width: 100%;
}

img.alignnone {
    margin: 5px 0;
}

@media (max-width: 999px){
.map img, .beach img {
    width: 44%;
}}

map ol, .beach ol {
    list-style-type: decimal;
    margin: 0 0 0 20px;
}


